
<div id="modal-Pull_Out-Confirmation" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="modal-pullout-header" class="modal-header">
                <h4 class="modal-title">Are you sure you want to pull out?</h4>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="submit" name="submit" value="pull" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
