
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6><i class="nav-icon fas fa-file-signature"></i> Entity Charge List </h6>
                </div>
                <div class="fab" type="button" name="btnSubmit" data-toggle="tooltip" title="Create New" onclick="location.href='@Url.Action("EntityBranchCharge", "Wallet")'"> + </div>
                <div class="card-body">
                    @{
                        Html.RenderPartial("_EntityBranchChargeList");
                    }
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script>
    $("#left_nav_dbinc").toggleClass("menu-open");
    $("#left_nav_ul_vehicle").css("display", "block");
    $("#entity_charge_list").toggleClass("active");

    ///// automatic open navbar after login ///////
    $("#left_nav_dbinc").toggleClass("menu-open");
    $("#left_nav_admin_insurance").toggleClass("menu-open");
    $("#left_nav_dlr").toggleClass("menu-open");
    $("#left_nav_mai").toggleClass("menu-open");
    ///// end automatic open navbar after login ///////
</script>
