@using VehicleRegistration.Models
@model ForgotPasswordModel
@*MODAL FORGOTPASSWORD*@
<div class="modal fade" id="modal-forgotpassword">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ForgotPassword", "User", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4 class="modal-title">Forgot Password?</h4>
                </div>
                <div class="modal-body">
                    <p class="forgot-p">Please enter your Email to reset your login password<p/>
                    <div class="form-group forgot-group" >
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            @Html.TextBoxFor(m => m.EmailAddress_Password, new { placeholder = " ", @class = "form-control", type = "email", @required = "required" })
                            @Html.LabelFor(m => m.EmailAddress_Password, new { @class = "form-control-placeholder" })
                        </div>
                        @Html.ValidationMessageFor(m => m.EmailAddress_Password, "", new { @class = "" })
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" id="btn_sent" name="submit" value="Save" class="btn btn-success" @*data-dismiss="modal"*@>Sent to Email</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<style>
    .forgot-p{
        text-align:center;
    }
    .forgot-group{
        margin-left:75px;
        margin-right:75px;
    }
</style>
<script>
</script>